body {
    background:blue;
}
img {
    width: 400px;
    height: 300px;
}
h2 {
    color:red;
}
h2 { 
    font-family: 'Indie Flower', cursive;
}
p {
    font-family: 'Abril Fatface', cursive;
}
h1{
    font-family: 'Francois One', sans-serif;
}
ul{ 
    font-family: 'Abril Fatface', cursive;
}
